.jumbotron {
  margin-top: 50px;
  margin-bottom: 0px; }

.btn-contacto {
  background-color: #ffffff;
  border: 1px solid #2b6b0e;
  color: #2b6b0e;
  border-radius: 5px; }

.btn-contacto:hover {
  background-color: #2b6b0e;
  color: #ffffff; }

.bg-hoteles {
  background-color: #ffae00;
  color: #353535; }

button.bg-hoteles:hover {
  background-color: #e79e00; }

.visited {
  background-color: #d9d5ff;
  color: #ffffff; }

a {
  color: #353535;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.card-hotel {
  flex: 1 250px;
  border-radius: 0;
  margin-top: 50px;
  margin-bottom: 0px; }

.card-hotel div button {
  width: 100%; }

footer {
  padding: 10px 10px 0px 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.btn {
  border-radius: 0; }

.banner {
  background-image: url(../img/pdebanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 300px;
  color: #ffffff; }

.banner h3 {
  background-color: rgba(53, 53, 53, 0.5); }

h4 .badge-success {
  position: absolute;
  top: 120px;
  left: -8px; }

h4 .badge-warning {
  position: absolute;
  top: 120px;
  right: -8px; }

#carouselExampleControls div div {
  height: 400px; }

#carouselExampleControls div div img {
  height: 100%;
  object-fit: cover;
  object-position: center center; }

.btn-success {
  background-color: #2b6b0e; }

.badge-success {
  background-color: #2b6b0e; }
